@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,400i,500,700');       
html,
        body,
        .view {
            height: 100%;
            width: 100%;
        }
        /* Navigation*/
        
        .navbar {
            background-color: transparent;
        }
        
        .scrolling-navbar {
            -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
            -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
            transition: background .5s ease-in-out, padding .5s ease-in-out;
        }
        
        .top-nav-collapse {
            background-color: #1C2331;
        }
        
        footer.page-footer {
            background-color: #1C2331;
            margin-top: 0;
        }
        
        @media only screen and (max-width: 768px) {
            .navbar {
                background-color: #1C2331;
            }
        }
        /* Carousel*/
        
        .carousel,
        .carousel-item,
        .active {
            height: 100%;
        }
        
        .carousel-inner {
            height: 100%;
        }
        
        .flex-center {
            color: #fff;
        }
        
        .carousel-caption {
            height: 100%;
            padding-top: 7rem;
        }

        /**** ABOUT ****/
.bg-color{
    background:#F05F40;
    
}
@media (min-width: 1200px)
{
.bg-color{
    background:#F05F40;
    padding-left: 22%;
}
}

section{
    padding: 80px 0;
    position: relative;
    text-align: center;
}

.about-section h3{
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.05em;
}

.about-section h3:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto 0;
    background:#c34d34;
}

.about-section p{
    font-size: 18px;
    line-height: 1.8;
    color: #fff;
    margin-bottom: 15px;
}

.btn-default-new{
    background: #c34d34;
    border-radius: 30px;
    border: solid 3px #c34d34;
    color: #ffffff;
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    padding: 0 25px;
    line-height: 3.1;
    margin-top: 30px;
    letter-spacing: 0.05em;
    -ms-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.btn-default-new:hover, .btn-default-new:focus{
    background: #fff;
    color: #c34d34;
    border-color: #c34d34;
}
/**** ABOUT END ****/
/**** SERVICE ****/

.service-section h3{
    font-size: 36px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 0.05em;
}

.service-section h3:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto 0;
    background:#F05F40;
}

.service-items .icon{
    color: #F05F40;
    font-size: 36px;
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 100%;
    border: solid 2px #F05F40;
    margin: 0 auto 30px;
    line-height: 98px;
}

.service-items h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: #F05F40;
    
}

.service-items h4 a{
    color: #222;
}

.service-items h4 a:hover{
    color: #F05F40;
}

.service-items p{
    font-size: 16px;
    line-height: 1.6;
    color: #414141;
    margin-bottom: 15px;
}

/**** SERVICE END ****/
/**** FOOTER ****/

footer{
    background: #222;
   
    position: relative;
    text-align: center;
}

footer h3{
    font-size: 36px;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 0.05em;
}

footer h3:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto 0;
    background:#F05F40;
}

footer p{
    font-size: 18px;
    line-height: 1.6;
    color: #adadad;
}

.gap{
    display: block;
    margin-top: 50px;
}

footer span.glyphicon{
    color: #adadad;
    font-size: 28px;
    display: block;
    margin: 0 auto 30px;
}

footer a{
    color: #adadad;
    
}

footer a:hover{
    color: #F05F40;
}

.bg-color h4 {
   
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fff !important;
    letter-spacing: 0.05em;
}
.bg-color h4:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto 0;
    background: #fff;
}


.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
    
    
.modal-dialog.cascading-modal .modal-header{
    text-align: center;

}    
.avFeaturesContainer {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.avFeaturesRapper {
  position: relative;
  width: 100%;
  height: 809px;
  perspective: 1000px;
  background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/avFeatures_Bg.jpg) right top #171717 no-repeat;
  padding-right: 229px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.avFeaturesRapper h1 {
  color: #fff;
  display: block;
  text-align: center;
  padding-top: 45px;
  font-size: 38px;
  font-weight: 300;
}

.screenRap {
  width: 1519px;
  height: 623px;
  position: absolute;
  top: 142px;
  right: -81px;
  z-index: 3;
  transform: scale(0.34) rotateX(0deg) rotateZ(6deg) rotateY(-5deg) skewX(-8deg) skewY(0deg);
  -webkit-transform: scale(0.34) rotateX(0deg) rotateZ(6deg) rotateY(-5deg) skewX(-8deg) skewY(0deg);
  -moz-transform: scale(0.34) rotateX(0deg) rotateZ(6deg) rotateY(-5deg) skewX(-8deg) skewY(0deg);
}

.screenRap div {
  width: 270px;
  height: 271px;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  float: left;
  cursor: pointer;
  margin: 8px;
  text-indent: -9999px;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  position: relative;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.23) 19px 19px 30px;
  left: 0;
}

.screenRap:hover div {
  animation: none !important;
}

.screenRap div:hover {
  z-index: 2;
  left: -70px !important;
  transform: scale(1.8, 1.8) !important;
}

.screenRap .avTile {
  background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/avTile.jpg) no-repeat;
}

.screenRap .firewallTile {
  background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/firewallTile.jpg) no-repeat;
}

.screenRap .backupTile {
  background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/backupTile.jpg) no-repeat;
  animation: tileLoadScale .6s 2.2s forwards;
  -webkit-animation: tileLoadScale .6s 2.2s forwards;
  -moz-animation: tileLoadScale .6s 2.2s forwards;
}

.screenRap .vulnerabilitiesTile {
  background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/vulnerableTile.jpg) no-repeat;
}

.screenRap .spamfilterTile {
  background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/spamfilterTile.jpg) no-repeat;
  animation: tileLoadScale .6s 2.7s forwards;
  -webkit-animation: tileLoadScale .6s 2.7s forwards;
  -moz-animation: tileLoadScale .6s 2.7s forwards;
}

.screenRap .smpTile {
  background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/smpTile.jpg) no-repeat;
  animation: tileLoadScale .6s 2s forwards;
  -webkit-animation: tileLoadScale .6s 2s forwards;
  -moz-animation: tileLoadScale .6s 2s forwards;
}

.screenRap .tuneupTile {
  background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/tuneupTile.jpg) no-repeat;
}

.screenRap .idpTile {
  background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/idpTile.jpg) no-repeat;
}

.screenRap .parentalTile {
  background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/parentalTile.jpg) no-repeat;
  animation: tileLoadScale .6s 2.4s forwards;
  -webkit-animation: tileLoadScale .6s 2.4s forwards;
  -moz-animation: tileLoadScale .6s 2.4s forwards;
}

.feature {
  position: absolute;
  opacity: 0;
  z-index: 3;
  transition: opacity .1s ease;
  -webkit-transition: opacity .1s ease;
  -moz-transition: opacity .1s ease;
  width: 30%;
  top: 188px;
  left: 95px;
}

.feature.active {
  opacity: 1;
}

.feature h2 {
  font-size: 37px;
  padding: 12px 0 10px 72px;
  margin: 0 0 10px -120px;
  opacity: 0;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
}

.feature.active h2 {
  opacity: 1;
  margin: 0 0 10px -72px;
  color: #fff;
  font-weight: 400;
}

.feature div {
  width: 0;
  opacity: 0;
  transition: width .3s ease, opacity .7s ease;
  -webkit-transition: width .3s ease, opacity .7s ease;
  -moz-transition: width .3s ease, opacity .7s ease;
}

.feature.active div {
  width: 100%;
  opacity: 1;
}

.feature div span {
  width: 100%;
  border-top: #fff solid 1px;
  height: 1px;
  display: block;
  opacity: .4;
}

.feature p {
  font-size: 15px;
  color: #fff;
  line-height: 1.8;
  padding: 32px 32px 0 0;
  opacity: 0;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
}

.feature.active p {
  opacity: 1;
}

.smallNotice {
  font-style: italic;
  opacity: .5;
  font-size: 11px;
}

.avFeature h2 {
  background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/avIcon.png) left center no-repeat;
}

.firewallFeature h2 {
  background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/firewallIcon.png) left center no-repeat;
}

.backupFeature h2 {
  background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/backupIcon.png) left center no-repeat;
}

.vulnerabilitiesFeature h2 {
  background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/vulnerabilitiesIcon.png) left center no-repeat;
}

.spamfilterFeature h2 {
  background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/spamfilterIcon.png) left center no-repeat;
}

.smpFeature h2 {
  background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/smpIcon.png) left center no-repeat;
}

.tuneupFeature h2 {
  background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/tuneupIcon.png) left center no-repeat;
}

.idpFeature h2 {
  background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/idpIcon.png) left center no-repeat;
}

.parentalFeature h2 {
  background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/parentalIcon.png) left center no-repeat;
}

.hoverIcon {
  background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/mouseHoverIcon.png) center top no-repeat;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  position: absolute;
  bottom: 28px;
  width: 140px;
  text-align: center;
  left: 50%;
  margin-left: -192px;
  padding-top: 41px;
}

@keyframes tileLoadScale {
  0% {}
  50% {
    transform: scale(1.4, 1.4);
    left: -50px;
    z-index: 2;
  }
  100 {}
}

@-webkit-keyframes tileLoadScale {
  0% {}
  50% {
    transform: scale(1.4, 1.4);
    -webkit-transform: scale(1.4, 1.4);
    -moz-transform: scale(1.4, 1.4);
    left: -50px;
    z-index: 2;
  }
  100 {}
}

@-moz-keyframes tileLoadScale {
  0% {}
  50% {
    transform: scale(1.4, 1.4);
    -moz-transform: scale(1.4, 1.4);
    -moz-transform: scale(1.4, 1.4);
    left: -50px;
    z-index: 2;
  }
  100 {}
}